.content {
    margin: 0px auto;
}

mat-form-field {
    width: 100%;
}

.contact-items {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

.example-card {
    max-width: 500px;
    margin: 5px auto;
  }
  
  .example-header-image {
    background-image: url('/assets/images/iran-germany-2.jpg');
    background-size: cover;
  }