<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Ramin Armanfar</mat-card-title>
    <mat-card-subtitle>Senior full-stack software developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/developer/ramin4.jpg" alt="Ramin">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="10px" fxFlex="100%">
      <div *ngFor="let item of icons" class="other-ways-tile">
        <a target="blank" href="{{ item.url }}" matTooltip="{{ item.tooltip }}" matTooltipPosition="above" class="contact-items hvr-float-shadow">
          <img class="icons" src="assets/images/developer/{{ item.image }}" alt="{{ item.image }}">
        </a>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="contact-items">
      <a href="mailto:ramin.armanfar@gmail.com" matTooltip="ramin.armanfar@gmail.com">
        <p>Email: ramin.armanfar@gmail.com</p>
      </a>
    </div>
  </mat-card-actions>
</mat-card>