<div class="container" fxLayoutGap="1px" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div class="col col1" fxFlex.xs="30">
    <img style="height: 60px;" src="assets/images/iran-germany-5.jpg" alt="iran-germany-flag">
    <a mat-flat-button color="primary" [routerLink]="['/']">{{ appInfo.title }}</a>
  </div>
  <div class="col col2" fxFlex.xs="1">
    Version: {{ appInfo.version }}
  </div>
  <div class="col col3" fxFlex.xs="40">
    Designed and implemented by Ramin Armanfar.<br />Alright Reserved.<br />Germany, 2019
  </div>
</div>